.dropdown {

	&__header {
	}

	&__items {
		padding: 12px 0px 8px 15px;
		height: 44px;
	}

	&__item {

	}

	&__less {
	}

	&__value {
	}

	&__enlarge {
	}
	&___count{
		display: flex;
		margin: 0 auto 0 0;
	}
}
.disabled-item {
	font-size: 14px;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.75);
}
.round {
}
