.footer__copy-social
		.footer__row.footer-bottom
			.copy-right Copyright © 2018 Toxin отель. Все права зачищены.
			.social__items
				.social_item
					img(src="./image/twitter.png", alt="alt")
				.social_item
					img(src="./image/facebook.png", alt="alt")
				.social_item
					img(src="./image/instagram.png", alt="alt")