include ../data/data.pug
include ../mixins/mixins.pug
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= siteName
		link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		script(src="https://code.jquery.com/jquery-1.12.4.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	body
		.wrapper
			//- .content
				block header
				//- include ../components/ui-kit/header/header
			.content
				block buttons
				include ../components/ui-kit/buttons/buttons
			.content
				block pagination
				include ../components/ui-kit/pagination/pagination
			.content
				block range-slider
				include ../components/ui-kit/range-slider/range-slider
			.content
				include ../components/ui-kit/text-field/text-field
			.content
				include ../components/ui-kit/dropdown/dropdown
			.content
				include ../components/ui-kit/masked/masked
			.content
				include ../components/ui-kit/date-dropdown/date-dropdown
			.content
				include ../components/ui-kit/filter-date-dropdown/filter-date-dropdown
			.content
				include ../components/ui-kit/subscription-text-field/subscription-text-field
			//- .content
			//- 	block footer
				//- include ../components/ui-kit/footer/footer
		script(src='main.js')