.text-field.masked.date-dropdown.filter-dropdown
	.text-field__header-items
		label(for='date').text-field__header-text filter date dropdown
	input(type="date" id='date').text-field__aria.masked__aria.filter-dropdown