.slider-range
	.slider-range__header-items
		.slider-range__header Range Slider
		label(for="amount").slider-range__label
	input(type="text" id="amount" readonly).slider-range__input
	div#slider-range.slider-range__range-slider