.footer-creative
	.footer-creative__content
		.footer-creative__logo
			img(src="./image/logo.svg", alt="alt")
		.footer-creative__copy-right.copy-right Copyright © 2018 Toxin отель. Все права зачищены.
		.footer-creative__social.social
			.social__items
				.social_item
					img(src="./image/twitter.png", alt="alt")
				.social_item
					img(src="./image/facebook.png", alt="alt")
				.social_item
					img(src="./image/instagram.png", alt="alt")