.header-section {
	display: flex;
	height: 70px;
	align-items: center;
	justify-content: space-between;
	padding: 0px 140px 0px 137px;
}
.header {
	&__top-items{
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__logo{
	}
		&__items {
		}
		&__item {
			padding-right: 20px;
			&:first-child{
					color: rgba(31, 32, 65, 0.75);
					font-weight: bold;
			}
			&:nth-child(2){
				position: relative;
				margin-right: 25px;
				&:after{
					content: '';
					position: absolute;
					left:59px;
					top: 3px;
					border-right: 2px solid; 
					border-bottom: 2px solid;
					height: 6px;
					width: 6px;
					transform: rotate(45deg);
					color: rgba(31, 32, 65, 0.5);
				}
			}
			&:nth-child(5){
				position: relative;
				&:after{
					content: '';
					position: absolute;
					left:100px;
					top: 3px;
					border-right: 2px solid; 
					border-bottom: 2px solid;
					height: 6px;
					width: 6px;
					transform: rotate(45deg);
					color: rgba(31, 32, 65, 0.5);
				}
			}
			&:last-child{
				padding-right: 0;
				position: relative;
				&::before{
					content: '';
					position: absolute;
					top: -10px;
					left: 136px;
					border-left: 2px solid rgba(31, 32, 65, 0.1);
					height: 30px;
				}
			}
		}
		&__auth {


		&_login {
			margin-left: 13px;
		}
	}
}

.auth-login {
	display: flex;
	justify-content: flex-end;
	width: 105px;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
}
