header.header-section.header
	.header__logo.logo
		include ../logo/logo.pug
	.header__top-items
		.header__nav.nav
			include ../nav-bar/nav
		if !isAuth
			.header__button.button_button-in
				include ../buttons/button-in/button-in
			.header__button.button_button-reg
				include ../buttons/button-reg/button-reg
		else
			.header__auth_login
				include ../header-auth/header-auth



