footer.section-footer.footer
	.footer__row.items-row
		.footer__block.block-hotel
			.block-hotel__logo.logo
				include ../logo/logo
			.block-hotel__subtitle Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
		.footer__sitemap.sitemap
			ul.sitemap__items
				li.sitemap__title навигация
				li.sitemap__item О нас
				li.sitemap__item Новости
				li.sitemap__item Служба поддержки
				li.sitemap__item Услуги
		.footer__sitemap1.sitemap
			ul.sitemap__items
				li.sitemap__title о нас
				li.sitemap__item О сервисе
				li.sitemap__item Наша команда
				li.sitemap__item Вакансии
				li.sitemap__item Инвесторы
		.footer__sitemap2.sitemap
			ul.sitemap__items
				li.sitemap__title cлужба поддержки
				li.sitemap__item Соглашения
				li.sitemap__item Сообщества
				li.sitemap__item Связь с нами
		.footer__subscribe.subscribe
			.subscribe__title Подписка
			.subscribe__subtitle Получайте специальные предложения и новости сервиса
			form(action="" method="method" class="subscribe__form")
				input.subscribe__input(type="text" value="Email")
				img.subscribe__img(src="./image/arrow_forward.svg", alt="alt")
	.footer__copy-social
		.footer__row.footer-bottom
			.copy-right Copyright © 2018 Toxin отель. Все права зачищены.
			.social__items
				.social_item
					img(src="./image/twitter.png", alt="alt")
				.social_item
					img(src="./image/facebook.png", alt="alt")
				.social_item
					img(src="./image/instagram.png", alt="alt")