@font-face{
	font-family: 'Montserrat';
	src: url(../fonts/MontserratRegular.woff), url(../fonts/MontserratRegular.woff2);
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'Montserrat';
	src: url(../fonts/MontserratExtraBold.woff), url(../fonts/MontserratExtraBold.woff2);
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}