@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'normalize';
@import 'null';
@import 'variables';
@import 'fonts';
@import '../components/ui-kit/buttons/buttons';
@import '../components/ui-kit/pagination/pagination';
@import '../components/ui-kit/range-slider/range-slider';
@import '../components/ui-kit/text-field/text-field';
@import '../components/ui-kit/dropdown/dropdown';
@import '../components/ui-kit/masked/masked';
@import '../components/ui-kit/date-dropdown/date-dropdown';
@import '../components/ui-kit/subscription-text-field/subscription-text-field';



.wrapper {
		font-family: 'Montserrat', sans-serif;
																							// Линия футера, включить на продакшене
		// position: relative;
		// &::after{
		// 	content: '';
		// 	position: absolute;
		// 	border-bottom: 1px solid #E5E5E5;
		// 	width: 100%;
		// 	bottom: 76px;
		// 	padding: 0;
		// 	margin: 0;
		// }
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}