@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'null';
@import 'variables';
@import '../components/buttons/buttons';
@import '../components/pagination/pagination';
@import '../components/range-slider/range-slider';



.wrapper {
		font-family: 'Montserrat', sans-serif;

																							// Линия футера, включить на продакшене

		// position: relative;
		// &::after{
		// 	content: '';
		// 	position: absolute;
		// 	border-bottom: 1px solid #E5E5E5;
		// 	width: 100%;
		// 	bottom: 76px;
		// 	padding: 0;
		// 	margin: 0;
		// }
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}