.text-field.subscription-text-field
	.text-field__header-items
		label(for='email').text-field__header-text subscription text field
	input(type="email" placeholder="Email" id='email').text-field__aria.subscription-text-field__aria
	a()
		img(src="/image/arrow_forward_color.svg").subscription-text-field__arrow