.search-room-card.card-search
	.search-room-card__content
		.search-room-card__title
		.search-room-card__arrive-departure.arrive-departure
			.arrive-departure__arrive-block
				.arrive-departure__arrive.search-items прибытие
				input(type="date" class="arrive-departure__arrive-input")
			.arrive-departure__departure-block
				.arrive-departure__departure выезд
				input(type="date" class="arrive-departure__departure-input")
		.search-room-card__guest.guest-card
			.search-room-card__guest-block
				.search-room-card__guests.search-items гости
				select(name="")

